.navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px 25px;
  position: relative;
  width: 100%;
  height: 100px;
  font-size: 24px;
  font-family: 'inter', sans-serif;
  background: #00635D;
}

.logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #BFC3BA;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffffff;
}

.sign-in {
  background: #FE5F00;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 34px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.sign-in:hover {
  opacity: 0.9;
}
